<!-- <script src="https://utteranc.es/client.js"
        repo="fede-26/blog"
        issue-term="pathname"
        label="✨💬Comment✨"
        theme="github-dark"
        crossorigin="anonymous"
        async>
</script> -->

<script src="https://giscus.app/client.js"
        data-repo="fede-26/blog"
        data-repo-id="R_kgDOKCPCpA"
        data-category="Comments"
        data-category-id="DIC_kwDOKCPCpM4CYVYq"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="noborder_dark"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>